# 4.6 Combining & Exporting Data Prep

## Contents:
01. Import libraries
02. Import Datasets¶
03. Check shape of dataframes
04. Merging dataframes
05. Export dataframes

## 01. Import libraries

In [5]:
# import libraries

import pandas as pd
import numpy as np
import os

## 02. Import Datasets¶

In [17]:
# import datasets

path = r'/Users/analazarevska/Documents/CAREER FOUNDRY/Data Analytics Program/Data Immersion/A4, Python Fundamentals for Data Analysts/Achievement 4/07-2024 Instacart Basket Analysis'
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

## 03. Check Shape of Dataframe

In [19]:
# check shape of dataframe

df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [21]:
df_ords_prods_combined.shape

(32434489, 11)

## 04. Merging dataframes

In [24]:
# inspect dataframe

df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
# drop unnamed column

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0'])
df_ords_prods_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [28]:
df_prods_clean = df_prods_clean.drop(columns = ['Unnamed: 0'])
df_prods_clean.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [34]:
# merge combined with products dataframes

df_merged_ords_prods = df_ords_prods_combined.merge(df_prods_clean, on = 'product_id')

In [36]:
df_merged_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [38]:
# check for full merge

df_merged_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [40]:
# check for full merge with outer merge

df_merged_ords_prods_outer = df_ords_prods_combined.merge(df_prods_clean, on = 'product_id', how = 'outer')

In [42]:
df_merged_ords_prods_outer['_merge'].value_counts()

_merge
both          32435059
left_only            0
right_only           0
Name: count, dtype: int64

## 05. Export dataframes

In [45]:
# export merged dataframe

df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))